@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    margin: 0px;
}
input {
    outline:none;
}

/* ///////////////////////////////HEADER */


.header{
    background-color: rgba(223, 223, 223, 0.5);
    color: black;
    height: 100px;
    margin: 0px;
    display: grid;
    grid-template-columns: 150px auto 150px;
    align-items: center;
    box-shadow: 5px  grey;
    width: 100%;
}
.headerText{
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
    font-size: 3em;
    letter-spacing: 5px;
    margin: auto;
    margin-top: 15px;
}
@media only screen and (max-width: 910px){
    .headerText{
        font-size: 1.7em;
        text-align: center;
    }
}
@media only screen and (max-width: 600px){
    .header{
        grid-template-columns: 150px 100px 150px;
    }
    .headerText{
        /* display: none; */
        visibility: hidden;
    }
}


.header-logo{
    height: 175px;
    width: 150px;
    padding: 5px;
}

.headerIcons{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.homeBtn{
    font-size: 2.5em;
    float: left;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
.homeBtn:hover{
    color: crimson;
}

.logOutText{
    padding: 5px;
    /* margin: 15px; */
    font-size: 1.3em;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    height: 25px;
    width: 70px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: Helvetica , sans-serif;
    letter-spacing: 1px;
    
}
.logOutText:hover{
    background-color: crimson;
    border: 3px solid black;
    color: white;
}




/* ///////////////////////////////LOGIN */

.login{
    background-image: url("./data/ajMaka.jpg") cover; 
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.730) 0%,rgba(0,0,0,0.730) 100%), url("./data/ajMaka.jpg");
    background-size: 100% 100vh;
    position: relative;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginText{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    transform-origin: left center;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 25px;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: block;
    z-index: 2;
    pointer-events: none;
}
.loginForm{
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    margin-top: -400px;
    background-color: rgba(255, 255, 255, 0.823);
    border-radius: 40px;
}
.inputs{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    appearance: none;
    background-color: none;
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: rgb(255, 0, 0);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.inputs::placeholder{
    color:black;
}
.inputs:hover::-webkit-input-placeholder{
    color:white;
}
.inputs:hover{
    background-color:red;
    color: white;
}

.loginBtn{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    margin-top: 35px;
    background-color: white;
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
.loginBtn:hover{
    background-color:red;
    color: white;
}

.invalid-txt{
    font-family:Helvetica , sans-serif;
    color: red;
}

@media only screen and (max-width:540px){
    .loginForm{
        max-width: 700px;
        min-width: 300px;
    }
}





/* ///////////////////////////////ADD */

.addData{
    min-height: 100px;
    max-height: 400px;
    background-color: rgba(223, 223, 223, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 10px;
    padding-left: 10px;
}

.addBtn{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    background-color: white;
    border: 1px solid crimson;
    line-height: 0;
    font-size: 17px;
    /* display: inline-block; */
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    width: 150px;
    text-decoration: bold;
    margin-bottom: 10px;
}
.addBtn:hover{
    background-color:crimson;
    color: white;
}

.addInputs{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    appearance: none;
    background-color: none;
    border: 1px solid crimson;
    line-height: 0;
    font-size: 17px;
    width: 300px;
    /* display: block; */
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: crimson;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.addInputs::placeholder{
    color:black;
}
.addInputs:hover::-webkit-input-placeholder{
    color:white;
}
.addInputs:hover{
    background-color:crimson;
    color: white;
}





/* ////////////BrandList Wrapper/////////*/


.editWrapper{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    justify-items: center;
    grid-gap: 25px;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

/* //////////BrandList//////// */

.editBox{
    width: 320px;
    border: 2px solid black;
    /* margin: 5px; */
    box-shadow: 5px 5px 5px grey;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: auto;
    /* background-color: rgba(0, 0, 0, 0.514); */
    background-color: rgb(255, 255, 255, .5);
    
}
.brand-title{
    grid-column: 1/-1;
    text-align: center;
    font-family: Helvetica , sans-serif;
    letter-spacing: 2.3px;
    /* color: white; */
}

.brand-images{
    grid-column: 1/-1;
    height: 150px;
    max-width: 200px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.914);
}


.brand-link{
    grid-column: 1/-1;
    text-align: center;
    font-family: Helvetica , sans-serif;
    /* color:white; */
}
.edit-btn{
    /* background-color:green; */
    font-size: 1.5em;
    grid-column: 1/2;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(0, 70, 0, 0.568);
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-left: 2px;
    
}

.delete-btn{
    /* background-color: red; */
    font-size: 1.5em;
    grid-column: 3/3;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(250, 20, 60, 0.41);
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-bottom: 2px;
}

/* ////////////Edit Form//////////// */

.editInputs{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    appearance: none;
    background-color: none;
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    width: 200px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: rgb(255, 0, 0);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    align-self: center;
    text-align: center;
}

.edit-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.newData-btn{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    background-color: white;
    border: 1px solid crimson;
    line-height: 0;
    font-size: 17px;
    /* display: inline-block; */
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: crimson;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    width: 200px;
    text-decoration: bold;
    margin-bottom: 10px;
    align-self: center;
}

.editInputs::placeholder{
    color:black;
}
.editInputs:hover::-webkit-input-placeholder{
    color:white;
}
.editInputs:hover{
    background-color:crimson;
    color: white;
}
.newData-btn:hover{
    background-color:crimson;
    color: white;
}

/* ///////////////////////  GLOBAL RESP0NSIVE*/

@media only screen and (max-width: 1080px){
    .addData{
        padding-top: 50px;
    }

}

@media only screen and (max-width: 450px){
    .addInputs{
        width: 280px;
    }
    .editBox{
        width: 250px;
    }
    .header{
        grid-template-columns: 150px 50px 150px;
    }
    .editWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .brand-link{
        font-size: .7em;
    }
    .editInputs{
        width: 150px;
    }
    .newData-btn{
        width: 150px;
    }
}

