@import url("https://fonts.googleapis.com/css?family=Diplomata+SC");

@font-face {
  font-family: "deadFont";
  src: url("/fonts/TheDeadAreComing.ttf");
}

/* ////////Brands//////////////// */
.brands-container {
    background-color: grey;
    color: white;
    font-family: "deadFont";
    font-size: 3em;
    height: auto;
    display: grid;
    grid-gap: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }




  /* //////////BrandList////////// */

  .brand-box{
      width: 300px;
      border: 2px solid black;
      box-shadow: 5px 5px 5px rgb(255, 254, 254);
      
  }

  .brand-image{
      width: 300px;
      height: 300px;
  }

  .brand-name{
      font-size: 15px;
      text-align: center;
  }