@import url("https://fonts.googleapis.com/css?family=Diplomata+SC");

@font-face {
  font-family: "deadFont";
  src: url("/fonts/TheDeadAreComing.ttf");
}

.contact-container {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 5px;
  }