.footer {
  background-color: black;
  color: white;
  height: 100%;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-auto-rows: auto;
  grid-template-areas: "x y z";
  padding-top: 100px;
}
.x {
  grid-area: x;
}
.y {
  grid-area: y;
}
.z {
  grid-area: z;
}
.footerIcons {
  /* padding-top: 10px; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  font-size: 4em;
  margin: 0px;
}
.admin {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Alegreya SC', serif;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  font-size: 2.4em;
  margin: 10px;
}
.footerText {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Alegreya SC', serif;
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items:  flex-end;
  width: 100%;
  margin: 0px;
  flex-flow: wrap;
  font-size: 1.3em;
}
.footerh3 {
  color:  White;
  margin: 0px;
  font-family: 'Alegreya SC', serif;
}

span5 {
  color:  grey;
  font-family: 'Alegreya SC', serif;
}
