@import url("https://fonts.googleapis.com/css?family=Diplomata+SC");

@font-face {
  font-family: "deadFont";
  src: url("/fonts/TheDeadAreComing.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.footer {
    background-color: black;
    color: white;
    height: 200px;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-auto-rows: auto;
    grid-template-areas: "h h h";
    display:  flex;
    flex-direction:  row;
    justify-content:  space-around;
    flex-flow:  wrap;
    font-size:  1.3em;
    width:  100%;
    margin: 0px;
    padding-top: 50px;
  }
  
  .footerh3 {
    color:  White;
    margin: 0px;
    font-size: 40px;
    font-family: "Diplomata SC", cursive;
  }
  
  .footerContact span {
    color:  grey;
    font-family: 'Roboto', sans-serif, cursive;
    justify-content:  space-between;
    width:  400px;
  }
  
  
  .admin {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    font-size: 1.5em;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .admin-link {
    color:  white;
    text-decoration:  none;
  }
  
  .footerIcons {
    /* padding-top: 10px; */
    font-family:  'Alegreya SC', serif;
    display: flex;
    justify-content: space-between; 
    flex-flow: wrap;
    font-size: 2em;
    margin: 0px;
    color:  white;
    width:  150px;
  }
  .footerIcons a:link, a:visited, a:active {
    color: white;
  }