
.home {
  background-color:  white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.homeImg {
  padding-top:  30px;
} 

.homeh1 {
  color:  black;
  font-family: 'Alegreya SC', serif;
  padding-bottom: 20px;
  font-size: 7.5em;
  padding-left: 60px;
  text-shadow: 5px 5px 20px rgb(88, 82, 82);
  text-align: center;
}

.homeh4 {
  color: rgb(155, 48, 41);
  font-family: 'Alegreya SC', serif;
  font-size: 2em;
  font-weight:  bold;
  padding-bottom:  10px;
}


span1 {
  color: rgb(155, 48, 41);
  font-family: 'Forum', cursive;
  font-weight:  bold;
  text-shadow: 1px 1px 3px white;
}

span {
  color:gray;
  font-family: "Bowlby One SC", cursive;
  font-size: 1em;
}




@media (max-width: 600px) {

  .homeh1 {
    font-size:  5em;
  }

  .homeh4 {
    font-size:  3em;
  }
}


@media only screen and (min-width: 319px) and (max-width: 599px) {
  
  .homeImg {
    height: 150px;
    width:  100px;
  }
  
  .homeh1 {
    padding-right:  10px;
    padding-bottom:  0;
    font-size: 3em;
    padding-left:  0;
  }
  .homeh4 {
      font-size:  1em;
  }
}

.carousel-indicators{
  display:  none;
}




@media (max-width:  900px){
  
}


