.home {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.counties {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}

.homeSide {
  background-color: rgba(12, 4, 4, 0.993);
  height: 100%;
  color: white;
}

.blank {
  height: 500px;
  width: 400px;
}

.homeh1 {
  color: black;
  font-size: 40px;
}

h4 {
  color: white;
}

p {
  color: white;
}
