h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  /* background-color: black; */
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  500px 500px 500px 500px 200px;
  /* grid-template-rows: (4, 500px) 200px; */
  /* grid-auto-rows: 500px; */
  grid-template-areas:
    "a a a"
    "c d b"
    "e e f"
    "i g g"
    "h h h";
}


.a {
  grid-area: a;
  background-color: white;
}

.b {
  grid-area: b;
  background-color: black;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
  background-color:  black;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}
.i {
  grid-area: i;
}
.h {
  grid-area: h;
  height:  200px;
}


@media only screen and (min-width: 319px) and (max-width: 599px) {
 .wrapper {
   display: flex;
   flex-direction: column;
 }

}

@media (max-width: 600px) {

}

@media (max-width: 900px) {
  

}