body {
    /* background-color: black; */
    margin: 0;
 }
 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 500px;
    grid-template-areas:
    'a a b'
    'c d d'
    'e e f'
    'g g g'
    

 }

 .a {
    grid-area: a;
 }
 .b {
    grid-area: b;
 }
 .c {
    grid-area: c;
 }
 .d {
    grid-area: d;
 }
 .e {
    grid-area: e;
 }
 .f {
    grid-area: f;
 }