@font-face {
    font-family: 'deadFont';
    src: url('../fonts/TheDeadAreComing.ttf'); 
}
.sideBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 4em;
    height: 100%;
    font-family: 'Alegreya SC', serif;
}


.sideBar1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 4em;
    height: 100%;
    font-family: 'Alegreya SC', serif;
}