@import url("https://fonts.googleapis.com/css?family=Diplomata+SC");

@font-face {
  font-family: "deadFont";
  src: url("../fonts/TheDeadAreComing.ttf");
}
/* scale all the images down */
.instagram {
    width: 150px;
    height: 150px;
}
   
/* leave the first image to auto height */
#instafeed > a >img {
width: 300px;
height: 300px;
} 

.instaImg {
    opacity: 1;
}
 #instafeed > a > img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: white;
}
#instafeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }



.social-container {
    /* background-color: rgb(24, 23, 18); */
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.73) 0%,
        rgba(0, 0, 0, 0.72) 100%
      ),
      url("https://images.unsplash.com/photo-1498830204877-434556b153df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87bf5545cab0e4c06c71e62bcd80a3f3&auto=format&fit=crop&w=2250&q=80");
    color: white;
    font-family: "deadFont";
    font-size: 3em;
    min-height: 500px;
    height: auto;
  }

.instafeed__item__caption{
    display: none;
}
.instafeed__item__location{
    display: none;
}

.social-title{
    /* background-color: rgb(24, 23, 18); */
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.73) 0%,
        rgba(0, 0, 0, 0.72) 100%
      ),
      url("https://images.unsplash.com/photo-1498830204877-434556b153df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87bf5545cab0e4c06c71e62bcd80a3f3&auto=format&fit=crop&w=2250&q=80");
    color: rgba(255, 255, 255);
    font-family: "deadFont";
    font-size: 50px;
    text-align: center;
    padding: 25px;
}

@media only screen and (max-width: 1010px){
    #instafeed > a > img:hover {
        opacity: 0.8;
        -moz-opacity: 0.8;
        -webkit-opacity: 0.8;
        height: 320px;
        width: 320px;
        border: 2px solid black;
        box-shadow: 5px 5px 5px black;
        background-color: white;
    }
}

@media only screen and (max-width:800px){
    #instafeed > a > img:hover {
        opacity: 0.8;
        -moz-opacity: 0.8;
        -webkit-opacity: 0.8;
        height: 300px;
        width: 300px;
        border: 2px solid lightgrey;
        box-shadow: 5px 5px 15px grey;
        background-color: white;
    }
}

@media only screen and (max-width:300px){
    #instafeed > a > img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    height: 20px;
    width: 20px;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 15px grey;
    background-color: white;
    }
    #instafeed > a >img {
        width: 200px;
        height: 200px;
        } 
}